RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

# Forbid access to script files, except index.php
RewriteRule ^((?!index).)*\.(php|tpl|json|lang|ini|xml|gitignore)$ - [F,L,NC]

# Forbid access to directories not accessible throw HTTP
RewriteRule ^(?!main\-plugins|plugins|themes|userfiles|index).*$ - [F,L,NC]