<FilesMatch "^.*\.(php|tpl|json)$">
  	Order  allow,deny
  	Deny   from All	
</FilesMatch>

<FilesMatch "^index\.php$">
  	Order  allow,deny
  	Allow   from All	
</FilesMatch>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]