#manage-themes-page .theme-item .icons{
	float: right;	
	display: none;
}

#manage-themes-page .theme-item:hover .icons{
	display: block;
}


#manage-themes-page .theme-item{
	position: relative;
	width: 220px;
	height: 220px;
}

#manage-themes-page .theme-item .theme-preview{
    height: auto;
    width: 200px;
    margin: auto;
}

#manage-themes-page .theme-media-item{
	width: 180px;
}

#manage-themes-page .media-image-preview{
	width: 150px;
}

#theme-css-edit{
	display: block;	
  	position: fixed;
 	width: 95%;
  	height: calc(100% - 200px);
}

.delete-theme-media{
	visibility: hidden
}

.theme-media-item:hover .delete-theme-media{
	visibility: visible;
}

.deactivate-item{
    padding: 10px;
}

#sort-menu-inactive ul, #sort-menu-inactive ol{
	padding-left: 0;
}

#sort-menu-inactive li{
	list-style-type: none;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.5);  
}