.list-cell-available-plugins-list-controls button{
    margin-right: 3px;
}

.list-cell-available-plugins-list-description {
    position: relative;
}

.list-cell-available-plugins-list-description .meta-data{
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.plugin-logo{
    width: 100px;
    height: 100px;    

    &.icon{
        padding: 0 !important;   
        font-size: 80px;
        line-height: 100px;
        border: 1px solid #ddd;
    } 
}

.plugin-details{
    position: relative;
    height: 100%;

    .meta-data{
        position: absolute;
        bottom: 0;
        left: 0;

        .plugin-rate{
            .icon{
                margin: 0;
                padding: 0;
            }
        }
    }
}
