@logo-size : 12rem;

#available-plugins-list{
    td {
        height: auto;
    }
    .list-cell-available-plugins-list-controls {
        white-space: nowrap;
        position: relative;
        vertical-align: top;

        .plugin-controls {
            position: relative;
            height: 100%;
            width: 100%;

            .plugin-definition {
                display: block;
                width: 100%;
                margin-bottom: 5rem;

                .plugin-logo {
                    display: inline-block;
                    width: 7rem;
                    height: auto;
                    margin-right: .5rem;
                    vertical-align: top;
                }

                .plugin-name {
                    font-size: 1.3rem;
                }
            }

            .plugin-actions {
                display: block;
                position: absolute;
                bottom: 0;

                button{
                    opacity: 0.7;
                    transition: opacity .6s ease;
                }
            }

             &:hover{
                .plugin-actions button{
                    opacity: 1;
                }
            }
        }
    }

    .list-cell-available-plugins-list-description {
        vertical-align: top;
    }

    .plugin-details {
        vertical-align: top;
        position: relative;
        height: 100%;
        width: 100%;

        .plugin-description {
            margin-bottom: 3rem;
        }

        .meta-data{
            position: absolute;
            display: block;
            bottom: 0;
        }
    }
}

#search-plugins-list{
    .plugin-item-wrapper{
        padding: 1rem;
        .plugin-item{
            background: #fff;
            border: .1rem solid #ddd;
            box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.5);
            border-radius: .4rem;

            .plugin-item-header{
                padding: .4rem;
                display: block;

                .plugin-logo-container{
                    width: @logo-size;
                    height: @logo-size;
                    margin-right: 2%;

                    img.plugin-logo{
                        width: 100%;
                        height: 100%;
                    }

                    .plugin-logo.icon{
                        text-align: center;
                        font-size: @logo-size * 0.8;
                        line-height: @logo-size;
                        border: .1rem solid #ddd;
                    }
                }

                .plugin-description-container{
                    width: calc(~"98% - " @logo-size);
                    height: @logo-size;
                    overflow: hidden;

                    .plugin-title{
                        font-size: 2em;
                        height: 4rem;
                    }

                    .plugin-description {
                        text-align: justify;
                        position: relative;
                        max-height: 8.5rem;
                        overflow: hidden;
                        width: 100%;
                        padding-right: .5rem;

                        &:after {
                            content: "...";
                            position: absolute;
                            top: 6.8rem;
                            height: 1.5rem;
                            background-color: white;
                            right: .5rem;
                        }
                    }
                }
            }

            .plugin-item-footer{
                padding: .4rem;
                margin-top: .5rem;
                background: #f8f8f8;
                display: block;
                border-top: .1rem solid #555;
            }
        }
    }
}

#store-plugin-search-form, #store-theme-search-form{
    input[name="search"]{
        border-radius: 1.5rem;
        width: 10rem;
        padding-left: 1rem;
        transition: width .4s;
        margin-left: .5rem;


        &:focus{
            width: 20rem;
        }

        & + .icon{
            margin-left: -1.8rem;
            font-size: 1.5rem;
        }


    }
}

#plugin-details-page {
    .tab-sidebar {
        position: relative;

        > .plugin-details-actions {
            position: fixed;
            left: 0;
        }
    }
    .plugin-readme {
        font-size: 1.4rem;
        padding-left: 2rem;


        h1, h2, h3, h4 {
            margin-top: 3rem;
        }

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            margin-left: -2rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.8rem;
        }

        h4 {
            font-size: 1.6rem;
        }

        hr {
            border-width: .4rem;
        }

        img {
            max-width: 100%;
        }

    }
}


.plugin-description-page, .theme-description-page{
    .download-btn{
        font-size: 2em;
    }
    .plugin-title{
        height: 15rem;
        margin: -1rem -1rem 1rem -1rem;
        padding-top: 1.5rem;
        text-align: center;
    }
    .plugin-description{
        padding: 1rem;
        text-align: justify;
    }

    .meta-data{
        list-style-type: none;
        padding-left: 0;
        border-top: 0.1rem solid #ddd;
    }

    .plugin-logo{
        width: 12rem;
        height: 12rem;
        margin-right: .5rem;
        margin-bottom: .5rem;

        &.icon{
            text-align: center;
            font-size: @logo-size * 0.8;
            line-height: @logo-size;
            margin: inherit;
        }
    }

    .carousel{
        .item{
            img {
                margin: auto;
            }
        }

        .carousel-control{
            .icon{
                font-size: 3rem;
                top: 50%;
                margin-top: -1.5rem;
                position: absolute;
            }
        }
    }


}


.plugin-rate, .theme-rate{
    &:hover {
        .rate-star{
            cursor: pointer;

            &:before{
                content: "\f005";
                color: gold;
            }

            &:hover ~ .rate-star:before{
                color: inherit;
                content: "\f006";
            }
        }
    }
}
